@charset 'utf-8';

/* ----- HTML再定義 ------------------------------------ */

* {
	margin: 0px;
	padding: 0px;

	font-size: x-small;
	font-style: normal;
	font-family: 'ＭＳ Ｐゴシック', 'MS UI Gothic', Osaka, sans-serif;
	text-align: left;
}
html>body * {
	font-size: small;
}

body {
	padding: 10px;

	text-align: center;
}

h1 {
	margin-bottom: 5px;

	font-size: 20px;
}
h2 {
	margin-bottom: 5px;

}
p, li, dt, dd, address {
	color: #444444;

	line-height: 1.4;
}
p {
	margin-bottom: 15px;
}
ul {
	margin: 0px 0px 20px 20px;
}


ol, ul, li, dl, dt, dd {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
dl {
	margin-bottom: 20px;
}
dl dt {
}
dl dd {
	margin-left: 30px;
}

em {
	font-weight: bold;
}
img {
	margin-right: 10px;
	margin-bottom: 5px;
	border: 0px;
}
address {
	margin-top: 5px;
	padding-top: 10px;
	border-top: 1px solid #999999;
	text-align: center;
}

form dl {
	margin-bottom: 15px;
}
form dl dt {
	float: left;
	clear: left;
	width: 5em;
}
form dl dd {
}
form dl dd textarea {
	margin-top: 2px;
}
form ul {
	margin: 0px 0px 20px 0px;
}
form ul li {
	list-style-type: none;
}
form fieldset {
	border: 0px solid #000000;
}
form legend {
	display: none;
}
form input, form select {
	margin-right: 1px;
	padding: 1px;

	font-size: 90%;
}
@media screen {
	form input, form select {
		font-family: Verdana, Arial, sans-serif;
	}
}
form select {
	margin-top: 1px;
}
form p input {
	text-align: center;
}
form textarea {
	padding: 1px;
	font-family: 'ＭＳ ゴシック', Osaka, monospace;
	line-height: 1.2;
}

table {
	margin-bottom: 10px;
	border-collapse: collapse;
}
table tr th {	
	text-align: center;
}
table tr td {

}
table tr td input {
	margin: -2px;
}

a:link, a:visited {
	color: #0000CC;

	text-decoration: underline;
}
a:active, a:hover {
	color: #FF7700;

	text-decoration: underline;
}

/* ----- 基本構造 -------------------------------------- */

div#container {
	width: 720px;
	margin: 0px auto;
	background-color: #FFFFFF;
}
html>body div#container {
	width: 680px;
}

div#menu {

}

div#work {
	margin-bottom: 5px;
}

/* ----- メニュー -------------------------------------- */

div#menu ul {
	margin: 5px 0px;
	display:block;
}
div#menu ul li {
	float:left;
	font-size: 9px;
	margin-right: 10px;
}

/* ----- カレンダー ------------------------------------ */

div#calendar table tr td {
	vertical-align: top;
	border: #726d62 1px solid;
	width: 75px;
	height:90px;
	padding:4px;
}

div#calendar table tr th  {
	background:#fffbf5;
	border: #726d62 1px solid;
	padding:5px;}
	
div#calendar table tr td ul {
	margin: 5px 0px;
}
div#calendar table tr td li {
	padding: 5px 0px;
	list-style-type: none;
}

div#calendar .day {
	color: #444444;
}
div#calendar .satday {
	color: #4444CC;
}
div#calendar .sunday {
	color: #CC4444;
}
div#calendar .plan {
	color: #447744;
}
div#calendar .today {
	background-color: #EEFFEE;
}

div#calendar ul.navi {
	margin: 15px 0px;
}
div#calendar ul.navi li {
	display: inline;

	margin-right: 10px;
}

/* ----- 予定表示 -------------------------------------- */

div#view h3 {
	margin-bottom: 20px;
}

div#view dl.info {
	padding: 10px;

	background-color: #EEEEEE;
}
div#view dl.info dt {
	float: left;
	clear: left;
	width: 5em;
}
div#view dl.info dd {
}

/* ----- コメント -------------------------------------- */

div#comment h3 {
	margin: 5px 5px 10px 5px;
	padding: 5px;
}

div#comment .comment {
	margin-bottom: 10px;
	padding: 2px 2px 10px 2px;
	border: 1px solid #AAAAAA;
}
div#comment p {
	margin: 10px;
}

/* ----- 処理選択 -------------------------------------- */

div#work form {
	margin: 10px 0px;
}
div#work form dl {
	margin: 0px;
}
div#work form dl dt {
	display: none;
}
div#work form dl dd {
	float: left;
	margin-left: 0px;
}
div#work form input {
	padding: 0px;
}

div#edit table {
	
}

div#edit table tr td{
	border-bottom: #726d62 1px solid;
	padding:5px;
}

div#edit table tr th{
	border-bottom: #726d62 1px solid;
	padding:5px;
}


/* ----- 予定 -------------------------------------- */


.week table{
	width: 190px;
	font-size:10px;
}
.week table tr th{
	background:#fffbf5;
	border-bottom: 2px #FFF splid;
	font-weight:normal;
	width: 80px;
	padding:3px;
}


