@charset "utf-8";
/* index */

.index_contents{
	width: 700px;
	margin-bottom: 10px;}

.middle_box {
	width: 345px;
	
	padding-bottom: 5px;}
	
.middle_box img .header{
	vertical-align:bottom;
	margin: 0;}
	.middle_box img {
		vertical-align:bottom;}
.middle_box .middle_box_inner{	
    border-left:#b2aa99 solid 1px;
	border-right:#b2aa99 solid 1px;
	margin: 0;}
	
	
.middle_box .middle_box_contents{
	background: #FFF url("../images/index/img_middle_footer.jpg") no-repeat bottom;	
	padding: 0 10px 10px ;}
	

	
.middle_box .middle_box_text{	
    border-top: #2480af 1px solid;
	padding: 10px 0;
	margin-top: 3px;
	height: 60px;}
	
.middle_box .middle_box_text p{	
    width: 300px;
	margin: 5px 10px 0;}
	
	
	
.small_box{
	width: 227px;
	background: #FFF url("../images/index/img_small_footer.jpg") no-repeat bottom;
	padding-bottom: 5px;
	float:left;}
	
.small_box img .header{
	vertical-align: bottom;
	display:inline;
	margin: 0;}
	
.small_box .small_box_inner{	
    border-left:#b2aa99 solid 1px;
	border-right:#b2aa99 solid 1px;
	margin: 0;
	height: 200px;}
	
.small_box .small_box_contents{	
	padding: 0 10px 10px ;}


	
.small_box .small_box_text{	
	padding: 5px 15px 10px;}
	
.small_box_text .time{
	color: #726d62;
	width: 195px;}
	
.small_box_text table{
	margin: 0px 0 0;}
	
.small_box_text .time th{
	border-top: #726d62 1px solid;
	border-bottom: #726d62 1px solid;
	background: #fffbf5;
	padding: 10px 3px;
	text-align:center;}
	
.small_box_text .time td{
	border-bottom: #726d62 1px solid;
	padding: 10px 3px;
	text-align:center;}
	
.small_box_text p{
	margin: 5px 0 0;}
	

/* pege */	
	
.page_contents{
	width: 677px;
	margin-bottom: 10px;}
	
	
.page_contentsL01{
	float:left;
	width:247px;}
	.page_contentsL01 img{
		margin-bottom:5px;}
.page_contentsL01 p{
	margin-bottom:10px;}	
	
	.MT10px{
		margin-top:10px;}
		
	
	.MT20px{
		margin-top:20px;}	
		
	.Icon01{
		line-height:18px;
		padding-left:15px;
		background:url(../images/page/commmon/icon01.jpg) no-repeat left;}
		
		.page_contentsL01 .Box{
			width:247px;
			padding:10px 0;}
	.page_contentsL01 .LBox{
		width:115px;
		float:left;}	
		
	.page_contentsL01 .RBox{
		float:right;
		width:115px;
		}	
	
	
	
.page_contentsR01{
	
	float:right;
	width:327px;}	
	
	
.page_contentsR01 h3{
	margin-bottom:10px;}	
	
.page_contentsR01 .time{
	color: #726d62;
	width: 327px;}
	
.page_contentsR01 table{
	margin: 10px 0 0;}
	
.page_contentsR01 .time th{
	border-top: #726d62 1px solid;
	border-bottom: #726d62 1px solid;
	background: #fffbf5;
	padding: 10px 3px;
	text-align:center;}
	
.page_contentsR01 .time td{
	border-bottom: #726d62 1px solid;
	padding: 10px 3px;
	text-align:center;}
	
.page_contentsR01 p{
	margin: 5px 0 0;}
	
	.TableA{
		border-bottom:#736d62 solid 1px;}
.TableA th{
	text-align:left;
	vertical-align:top;
	border-top:#736d62 solid 1px;
	background:#fffbf5;
	padding:12px 0 12px 10px;
	width:60px;}
.TableA td{
	text-align:left;
	padding:12px 0 12px 10px;
	vertical-align:top;
	border-top:#736d62 solid 1px;}
	
	
	.NameBox{
		width:119px;
		float:left;
		margin-right:10px;}
	.NameBox img{
		margin-bottom:10px;}
		
		.NameBoxNo{
		width:119px;
		float:left;
		margin-right:6px;}
	.NameBoxNo img{
		margin-bottom:10px;}
	.MapBoxL{
		float:left;
		padding-top:10px;
		width:180px;}	
		
	.MapBoxL p{
		margin-left:10px;}
		
	.MapBoxR{
		width:433px;
		float:right;}
		
		.News1{
			width:630px;
			margin:0 auto;
			padding-bottom:10px;
			border-bottom:#2480af 1px solid;}
		.RQA1{
			width:630px;
			margin:0 auto;
			padding-bottom:10px;
			border-bottom:#a1b250 1px solid;}
		
		.Greeting{
			width:630px;
			margin:0 auto;
			padding-bottom:10px;
			border-bottom:#f3d800 1px solid;}
			
			
		.Form{
				border-top:1px solid #736d62;
			width:600px;
			margin:0 auto;}	
			
		.Form th{
			text-align:left;
			border-bottom:1px solid #736d62;
			background:#fffbf5;
			adding:5px 0 5px 5px;
			width:200px;
			}	
				
				
		.Form td{
			padding:5px 0 5px 5px;
			text-align:left;
			border-bottom:1px solid #736d62;
			
			
			}	