@charset "utf-8";
/* index */

.index_contents{
	width: 700px;
	margin-bottom: 10px;}

.middle_box {
	width: 345px;
	
	padding-bottom: 5px;}
	
.middle_box img .header{
	vertical-align:bottom;
	margin: 0;}
	.middle_box img {
		vertical-align:bottom;}
.middle_box .middle_box_inner{	
    border-left:#b2aa99 solid 1px;
	border-right:#b2aa99 solid 1px;
	margin: 0;}
	
	
.middle_box .middle_box_contents{
	background: #FFF url("../images/index/img_middle_footer.jpg") no-repeat bottom;	
	padding: 0 10px 10px ;}
	

	
.middle_box .middle_box_text{	
    border-top: #2480af 1px solid;
	padding: 10px 0;
	margin-top: 3px;
	height: 60px;}
	
.middle_box .middle_box_text p{	
    width: 300px;
	margin: 5px 10px 0;}
	
	
	
.small_box{
	width: 227px;
	background: #FFF url("../images/index/img_small_footer.jpg") no-repeat bottom;
	padding-bottom: 5px;
	float:left;}
	
.small_box img .header{
	vertical-align: bottom;
	display:inline;
	margin: 0;}
	
.small_box .small_box_inner{	
    border-left:#b2aa99 solid 1px;
	border-right:#b2aa99 solid 1px;
	margin: 0;
	height: 200px;}
	
.small_box .small_box_contents{	
	padding: 0 10px 10px ;}


	
.small_box .small_box_text{	
	padding: 5px 15px 10px;}
	
.small_box_text .time{
	color: #726d62;
	width: 195px;}
	
.small_box_text table{
	margin: 0px 0 0;}
	
.small_box_text .time th{
	border-top: #726d62 1px solid;
	border-bottom: #726d62 1px solid;
	background: #fffbf5;
	padding: 10px 3px;
	text-align:center;}
	
.small_box_text .time td{
	border-bottom: #726d62 1px solid;
	padding: 10px 3px;
	text-align:center;}
	
.small_box_text p{
	margin: 5px 0 0;}
	

/* pege */	
	
.page_contents{
	width: 678px;
	margin-bottom: 10px;}
	
	
.page_contentsL01{
	float:left;
	width:300px;}

.page_contentsL01 h3{
	margin-bottom:10px;}	

.page_contentsL01 p{
	margin-bottom:10px;}	
	
	
	.Icon01{
		line-height:18px;
		padding-left:15px;
		background:url(../images/page/commmon/icon01.jpg) no-repeat left;}
		
		.page_contentsL01 .Box{
			width:247px;
			padding:10px 0;}
	.page_contentsL01 .LBox{
		width:115px;
		float:left;}	
		
	.page_contentsL01 .RBox{
		float:right;
		width:115px;
		}	
	
	
	
.page_contentsR01{
	
	float:right;
	width:310px;}	
	
	

	


	
.page_contentsR01 p{
	margin: 5px 0 0;}
	
	
.TableA{
		border-bottom:#736d62 solid 1px;}
.TableA th{
	text-align:left;
	vertical-align:top;
	border-top:#736d62 solid 1px;
	background:#fffbf5;
	padding:12px 0 12px 10px;
	width:75px;}
.TableA td{
	text-align:left;
	padding:12px 0 12px 10px;
	vertical-align:top;
	border-top:#736d62 solid 1px;}
	
	
	.NameBox{
		width:311px;
		height:244px;
		margin-bottom:10px;
		background: url(../images/index/img_box_back.jpg) no-repeat;}
		
	.NameBoxL{
		float:left;
		margin-right:15px;
		width:140px ;}
		
	.NameBoxL P{
		background:url(../images/index/img_name_bck.jpg) no-repeat left;
		margin-left:25px;
		width:114px;
		text-align:center;
		padding: 15px 0	10px;
		font-size:14px;}
		 
	.NameBoxR{
		float:right;
		margin-right:30px;
		width:125px ;
		line-height:1.5;
		padding-top:35px;}	
		
		
	.NameBox img{
		margin:35px 0 5px 25px;}
		
		.NameBoxNo{
		width:119px;
		float:left;
		margin-right:6px;}
	.NameBoxNo img{
		margin-bottom:10px;}
		
		
	.SalonBox table{
		border-collapse:collapse;}
	
	.SalonBox th{
		font-weight: normal;
		text-align: left;
		padding:5px;}
		
	.SalonBox td{
		padding :3px 0;}

		
	.SalonBox thead th{
		border-bottom: double 3px #736d62;
		background: #FFF;}
		
	.SalonBox thead td{
		border-bottom: double 3px #736d62;
		background: #FFF;}
		
	.SalonBox tbody th{
		border-bottom: solid 1px #b5ac9a;
		background: #fffbf5;}
		
	.SalonBox tbody td{
		border-bottom: solid 1px #b5ac9a;
		background: #FFF;
		text-align:center;}
		
	.SalonBox tfoot th{
		border-bottom: double 3px #736d62;
		background: #fffbf5;}
		
	.SalonBox tfoot td{
		border-bottom: double 3px #736d62;
		background: #FFF;
		text-align:center;}

		
		
	.SalonBoxL{
		float:left;
		width:355px;}	
		
	.SalonBoxL tbody td{
		width:100px;}
		
	.SalonBoxL li{
		margin-top:15px;}
		
		
		
	.SalonBoxR{
		width:280px;
		float:right;}
		
	.SalonBoxR td{
		width:60px;}	
		
	.HotelBox thead th {
		background:#FFF ;
		font-weight:bold;
		vertical-align:middle;
		text-align:left;
		width:130px;
		padding: 5px;
		border-bottom:1px solid #b5ac9a;}
		
	.HotelBox thead td {
		background:#FFF ;
		text-align:center;
		width: 100px;
		border-bottom:1px solid #b5ac9a;}
		
	.HotelBox tbody th {
		background:#fffbf5 ;
		font-weight:normal;
		text-align:left;
		padding: 5px;
		border-bottom:1px solid #b5ac9a;}
		
	.HotelBox tbody td {
		background:#FFF ;
		text-align:center;
		padding: 5px;
		border-bottom:1px solid #b5ac9a;}
		
	.HotelBox tfoot th {
		background:#fffbf5 ;
		font-weight:normal;
		text-align:left;
		padding: 5px;
		border-bottom:1px solid #736d62;}
		
	.HotelBox tfoot td {
		background:#FFF ;
		text-align:center;
		padding: 5px;
		border-bottom:1px solid #736d62;}
		
		
	.ItemBox table th{
		padding-bottom: 30px;}
		
	.ItemBox table td{
		padding: 5px;
		width: 150px;
		vertical-align:top;
		line-height:2;}
		