@charset "utf-8";

/* common CSS */

html{
	margin: 0;
    padding: 0;}

body{
	margin: 0;
    padding: 0;}

#contener {
	margin: 0;
    padding: 0;
	background: #fffbf5;
	font-family:"Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif";
	font-size: 12px;
	color: #333126;
	bottom: 0;
	line-height: 13px;}		
			
#wrapper{ 
    margin: 0 auto;
    width:900px ;}
		  

#header_wrapper {
	width: 900px;}

#header_wrapper h1{
	font-size: 10px;
	text-align: right;
	font-weight: normal;
	margin: 3px 0;
	}
	
#header_wrapper #header {
	background:url("../images/header/img_header_base.jpg") no-repeat ;
	padding: 15px 10px 12px;}

#navi{
	width: 900px;
	margin: 10px 0;}

#navi li{
	float:left;}
	.page-Me img{
	vertical-align:bottom;}	
	
#contents{
	width: 900px;
	margin: 5px 0 10px;}
	
	
#sub_navi{
	padding-top:5px;
	width: 200px;}
	
#sub_navi .sub_navi{
	width: 190px;
	background: #FFF url("../images/navi/img_footer.jpg") no-repeat bottom;
	padding-bottom: 5px;
	margin-bottom: 10px;}
	
.sub_navi img{
	vertical-align:bottom;
	margin: 0;}
	
.sub_navi .navi_box{
	border-left:#726d62 solid 1px;
	border-right:#726d62 solid 1px;
	margin: 0;
	padding: 10px 15px 5px;}
	
.navi_box li{
	margin-bottom:8px;}

#main{
	width: 700px;}
	
#page{
	width: 677px;}	
	
	.page-Me{
	width: 677px;}	
	
	
.page-Me li{
	float:left;}
	
.page-Con{width: 677px;
margin:0 aut;
padding:20px 0;
text-align:center;
background:url(../images/page/commmon/img-bg01.jpg) repeat-y;
	}	
	
	
.page-ConNew{width: 677px;
margin:0 aut;
padding:0px 0 20px;
text-align:center;
background:url(../images/page/commmon/img-bg01.jpg) repeat-y;
	}		
	
.page-Con02{
	width:630px;
	margin:0 auto;}	
#footer_wrapper{
	width: 900px;}
		
#footer_wrapper #footer{
	background: url("../images/footer/img_base.jpg") no-repeat;
	padding: 10px 0;}
	
#footer p.F_text01{
	font-weight: bold;
	margin: 5px 15px 0;}
	
#footer p img{
	font-weight: bold;
	margin: 0 15px;}
	
	

a{color:#337e44;}

a{ text-decoration:none;}

a:hover{ text-decoration:none;}