@charset "utf-8";
/* CSS reset */

*{
    margin:0;
    padding:0;
}


html ,body {height: 100%}

html{ overflow-y: scroll; } 

div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,a,form,object,dt,dd,dl,iframe,label{margin:0; padding:0; text-align:left; }

ol, ul, li, dl, dt, dd {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
img{border:none;
    margin: 0;}
	
	
	
/* CSS style */


.left{float: left;}

.right{float: right;}

.clear{ clear:both;}


/* font style */

.t9{font-size: 9px;
	line-height:10px;}
	
	
	
	
/* margin style */

.MR10 {
	margin-right: 10px;}
	
.MR9 {
	margin-right: 9px;}
	
.MR8 {
	margin-right: 8px;}
	
.MR5 {
	margin-right: 5px;}
	
	
/* ----- Style for Ktai Entry ----- */
.photo {
	padding-right:6px;
	float:left;
	line-height:110%;
	font-size:0.85em;
	text-indent:0;
}
.photo img {
	background:white;
	margin:0 4px 4px 0;
	padding:3px;
	border:1px solid #999;
}
.photo-end {
	clear:left;
}
/* ---------- */